<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Create Product</title>
</head>
<body>
    <h1>Add Dog</h1>
    <form action="/create" method="post">
        <label>Name</label>
        <input type="text" name="Name" />

        <label>Age</label>
        <input type="number" name="Age" />

        <br />
        <input type="submit" value="Create" /> 
    </form>
</body>
</html>
